@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #7c654f
  --foreground: #7d6750;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #D1BAA4;
    --foreground: #7d6750;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
